.hero_img_container{
	padding-top:50px;
}

.hero_img{
	width:80%;
	display: block;
}

.header{
	padding-top: 140px;
	padding-bottom: 240px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	background-image: url('../img/bg_header_half_curve.png');
	color:#fff;
}

/*versi lurus*/
.header{
	padding-top:180px;
	padding-bottom: 80px;
	background-image: url('../img/bg_header_half_2.jpg');
	
}

.header_profile{
	background-image: url('../img/bg_header_half.jpg');
  	height:308px;
}

.info_profile_container h3{
	font-style: italic;
}

@media ( max-width: 767px){
	.hero_img_container{
		padding-top:0;
	}
	.hero_img{
		margin: 20px auto;
	}
	.header{
		text-align: center;
		padding-bottom: 80px;
		background-image: url('../img/bg_header_half.jpg');
	}
	.header_profile{
	    padding-top: 80px;
	    height: auto;
	    padding-bottom: 30px;
	}

	.info_profile_container{
		padding:0;
	}

	.info_profile_container h2{
		margin:10px 0;
		font-size: 1.5em;
	}


	.info_profile_container h3{
		margin:10px 0;
		font-size: 1.25em;
	}


	.info_profile_container h4{
		margin:10px 0;
		font-size: 1em;
	}

	.profile_social {
	    position: relative;
	    bottom: 0; 
	    display: block;
	    width: 100%;
	    margin: auto;
	}
}