@font-face {
  font-family: Montserrat;
  src: url("../fonts/montserrat/Montserrat-Light.otf");
}

body {
  font-family: Montserrat;
}

.navbar{
  background-color: rgba(0,0,0,0.1);
  border-bottom-color: transparent;
}

.navbar.top-nav-collapse{
  background: -webkit-linear-gradient(310deg, rgb(252, 169, 36) 0%, rgb(253, 111, 56) 48%, rgb(254, 48, 78) 88%, rgb(255, 28, 84) 100%);
  background: -o-linear-gradient(310deg, rgb(252, 169, 36) 0%, rgb(253, 111, 56) 48%, rgb(254, 48, 78) 88%, rgb(255, 28, 84) 100%);
  background: -ms-linear-gradient(310deg, rgb(252, 169, 36) 0%, rgb(253, 111, 56) 48%, rgb(254, 48, 78) 88%, rgb(255, 28, 84) 100%);
  background: -moz-linear-gradient(310deg, rgb(252, 169, 36) 0%, rgb(253, 111, 56) 48%, rgb(254, 48, 78) 88%, rgb(255, 28, 84) 100%);
  background: linear-gradient(140deg, rgb(252, 169, 36) 0%, rgb(253, 111, 56) 48%, rgb(254, 48, 78) 88%, rgb(255, 28, 84) 100%);
  padding:12px 0;
  /*border-bottom:1px solid rgb(253, 111, 56);*/
  box-shadow: 0 5px 5px -5px #606060;

}

.navbar-default.navbar-transparent .navbar-nav>li>a,
.navbar-default.navbar-transparent .navbar-brand{
  color: #fff;
}
.navbar-brand img{
  height: 100%;
}

.navbar-brand{
  padding: 5px 0;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
     margin-left: 0px;
}

.navbar-nav li{
  text-transform: uppercase;
  font-weight: bold;
}

.onboard {
  padding: 120px 0 96px 0;
  background-position: center
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background-color: #fbdf02;
  padding: 16px 0;
}

.onboard_icon {
  height: 64px;
  width: auto;
  margin: 0 auto;
  display: inherit;
}

.onboard_title {
  font-size: 45px;
  line-height: 1.07em;
  font-weight: 600;
  color: #fff;
  margin-top: 48px;
  margin-bottom: 36px;
}

.onboard_content {
  font-size: 16px;
  line-height: 1.62em;
  color: #fff;
  margin-bottom: 48px;
}

.onboard_action_btn {
  display: inline-block;
  float: left;
  margin-right: 20px;
}

.onboard_action_text {
  color: #222222;
  display: inline-block;
  float: left;
  line-height: 4em;
}

.onboard_action_text_link {
  color: #f9db0b;
  font-weight: bold;
}

.onboard_action_text_link:hover {
  text-decoration: none;
}

.onboard_illustration {
  max-width: 316px;
  float: right;
  width: 100%;
}

.btn-main {
  background-color: #fff;
  color: rgb(252, 169, 36);
  font-size: 18px;
  font-weight: 600;
  padding: 14px 30px;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-main:focus,
.btn-main:active,
.btn-main:hover {
  background-color: #f5f5f5;
  color: #D1326C;
  text-decoration: none;
}

.section{
  box-shadow: 0 -5px 5px -5px #505050;
  padding: 100px 0;
  background: #fafafa;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg_primary{
  background: -webkit-linear-gradient(310deg, rgb(252, 169, 36) 0%, rgb(253, 111, 56) 48%, rgb(254, 48, 78) 88%, rgb(255, 28, 84) 100%);
  background: -o-linear-gradient(310deg, rgb(252, 169, 36) 0%, rgb(253, 111, 56) 48%, rgb(254, 48, 78) 88%, rgb(255, 28, 84) 100%);
  background: -ms-linear-gradient(310deg, rgb(252, 169, 36) 0%, rgb(253, 111, 56) 48%, rgb(254, 48, 78) 88%, rgb(255, 28, 84) 100%);
  background: -moz-linear-gradient(310deg, rgb(252, 169, 36) 0%, rgb(253, 111, 56) 48%, rgb(254, 48, 78) 88%, rgb(255, 28, 84) 100%);
  background: linear-gradient(140deg, rgb(252, 169, 36) 0%, rgb(253, 111, 56) 48%, rgb(254, 48, 78) 88%, rgb(255, 28, 84) 100%);
}

.bg_secondary{
  background: #505050;
}
.bg_primary,.bg_secondary{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section_title{
  text-transform: uppercase;
  color: #505050;
  margin-bottom: 80px;
  text-align: center;
}

.section_title.with_caption{
  margin-bottom: 30px;
}

.section_caption{
  color: #707070;
  text-align: center;
  font-style: italic;
  margin-bottom: 60px;
}

.section_content{
  color: #505050;
  text-align: left;
  line-height: 2em;
  font-size: 16px;
  /*font-weight: 200;*/
}

.bg_primary .section_title,
.bg_secondary .section_title,
.bg_primary .section_caption,
.bg_secondary .section_caption{
  color: #fff;
}


/*.section_content{
  color: #505050;
  text-align: left;
  line-height: 2em;
}*/

.img_block{
  display: block;
  width: 90%;
}

.card_link:hover,
.card_link:active,
.card_link:focus,
.card_link:visited{
  text-decoration: none;
}
.card_link .card{
    box-shadow: 3px 3px 3px -3px #aaa;
}
.card_link:hover .card{
    box-shadow: 5px 5px 5px -4px #999;
}

.card_link:hover .card_body{
    color:rgb(252, 169, 36);
}

.card{
  background: #fff;
  border-radius: 3px;
  text-align: center;
  margin-bottom: 15px;
}
.card_header{
  padding: 0
}
.icon_container{
  padding: 30px;
  border-bottom:1px solid #ddd;
}

.card_img{
  display: block;
  width: 60%;
  margin: auto;
}

.icon_service{
  display: block;
  /*max-width: 80%;*/
  width: auto;
  height: 100px;
  margin: auto;
}

.card_body{
  padding:10px 20px;
  font-size: 18px;
  color:#707070;
  /*text-transform: capitalize;*/
  font-weight: 600;
  text-transform: uppercase;
  min-height: 3em;
  /*font-weight: bold;*/
}

.card_footer{
  padding:10px 20px 30px 20px;
  font-size: 16px;
  color: #606060;
}
.bg_light-grey{
  background: #eee;
  box-shadow: none;

}
.bg_transparent{
  background: transparent;
}

.card.bg_transparent .icon_container{
  border-bottom-color: transparent;
}

.form_inquiry input,
.form_inquiry textarea{
  border-radius: 3px;
  background: transparent;
  border:2px solid #fff;
  color: #fff;
  padding:20px;
  font-size: 18px;
}

.form_inquiry input{
  margin-bottom: 30px;
}

.form_inquiry input:last-child{
  margin-bottom: 20px;
}

.form_inquiry input::-webkit-input-placeholder,/* Chrome/Opera/Safari */
.form_inquiry textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ddd;
}
.form_inquiry input::-moz-placeholder, /* Firefox 19+ */
.form_inquiry textarea::-moz-placeholder { /* Firefox 19+ */
  color: #ddd;
}
.form_inquiry input:-ms-input-placeholder,/* IE 10+ */
.form_inquiry textarea:-ms-input-placeholder { /* IE 10+ */
  color: #ddd;
}
.form_inquiry input:-moz-placeholder,/* Firefox 18- */
.form_inquiry textarea:-moz-placeholder { /* Firefox 18- */
  color: #ddd;
}

footer{
  padding:30px 0 120px 0;
  box-shadow: 0 -10px 10px -10px #606060;
  background-color: #eee;
  background-image: url('../img/footer.png');
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;

}

footer a:active,
footer a:focus,
footer a:visited,
footer a:hover{
  text-decoration: none;
  font-weight: bold;
}

footer a:active .footer_content,
footer a:focus .footer_content,
footer a:hover .footer_content{
  color: rgb(252, 169, 36);
}
.footer_title{
  color:rgb(255, 28, 84);
  margin-bottom: 30px;
  text-transform: uppercase;
}

.footer_content{
  color:#404040;
  margin-bottom: 15px;
}

.footer_icon{
  margin-right: 10px;
  float: left;
  color:#fff;
  padding-top:4px;
  padding-bottom:4px;
  font-size: 12px;
  background: -webkit-linear-gradient(310deg, rgb(252, 169, 36) 0%, rgb(253, 111, 56) 48%, rgb(254, 48, 78) 88%, rgb(255, 28, 84) 100%);
  background: -o-linear-gradient(310deg, rgb(252, 169, 36) 0%, rgb(253, 111, 56) 48%, rgb(254, 48, 78) 88%, rgb(255, 28, 84) 100%);
  background: -ms-linear-gradient(310deg, rgb(252, 169, 36) 0%, rgb(253, 111, 56) 48%, rgb(254, 48, 78) 88%, rgb(255, 28, 84) 100%);
  background: -moz-linear-gradient(310deg, rgb(252, 169, 36) 0%, rgb(253, 111, 56) 48%, rgb(254, 48, 78) 88%, rgb(255, 28, 84) 100%);
  background: linear-gradient(140deg, rgb(252, 169, 36) 0%, rgb(253, 111, 56) 48%, rgb(254, 48, 78) 88%, rgb(255, 28, 84) 100%);
  border-radius: 100%;
  width:20px;
  height: 20px;
  text-align: center;
}

@media (max-width: 767px) {

  .onboard_title {
    text-align: center;
  }

  .onboard_content {
    text-align: center;
  }


  .onboard_action_btn {
    display: block;
    margin-right: 0;
    text-align: center;
    width: 100%;
  }

  .onboard_action_text {
    display: block;
    padding-top: 30px;
    text-align: center;
    line-height: 3em;
    width: 100%;
  }

  .onboard_illustration {
    float: none;
    margin-top: 30px;
    display: inline;
    text-align: center;
    width: 100%;
    max-width: none;
  }

  .inquiry_input{
    margin-bottom: 30px;
  }

  .footer_title{
    margin-top: 40px;
  }
  div:first-child>.footer_title{
    margin-top: 0;
  }
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoiQzpcXGxhcmFnb25cXHd3d1xcZnJvbnRlbmRcXGFoYVxccmVzb3VyY2VzXFxhc3NldHNcXHNhc3NcXGFoYS5zY3NzIiwic291cmNlcyI6WyIvbGFyYWdvbi93d3cvZnJvbnRlbmQvYWhhL3Jlc291cmNlcy9hc3NldHMvc2Fzcy9haGEuc2NzcyJdLCJzb3VyY2VzQ29udGVudCI6WyIkY29sb3ItcHJpbWFyeTojZmFlNDM4O1xyXG4kY29sb3Itc2Vjb25kYXJ5OiNjN2M3Yzc7XHJcbiRncmV5aXNoLWJyb3duOiM1NTU1NTU7XHJcbiR3YXJtLWdyZXk6Izk5OTk5OTtcclxuJGJsYWNrOiMyMjIyMjI7XHJcbiRkYW5kZWxpb246I2ZiZGYwMjtcclxuJGRhbmRlbGlvbi10d286I2Y5ZGIwYjtcclxuXHJcbkBmb250LWZhY2V7XHJcblx0Zm9udC1mYW1pbHk6T3BlblNhbnM7XHJcblx0c3JjOnVybCgnLi4vZm9udHMvT3BlblNhbnMtUmVndWxhci50dGYnKTtcclxufVxyXG5cclxuYm9keXtcclxuXHRmb250LWZhbWlseTpPcGVuU2FucztcclxufVxyXG4ub25ib2FyZHtcclxuXHRwYWRkaW5nOjQ4cHggMCA5NnB4IDA7XHJcblx0Jl9oZWFkZXJ7XHJcblx0XHRiYWNrZ3JvdW5kLWNvbG9yOiRkYW5kZWxpb247XHJcblx0XHRwYWRkaW5nOjE2cHggMDtcclxuXHR9XHJcblx0Jl9pY29ue1xyXG5cdFx0aGVpZ2h0OjY0cHg7XHJcblx0XHR3aWR0aDphdXRvO1xyXG5cdFx0bWFyZ2luOjAgYXV0bztcclxuXHRcdGRpc3BsYXk6aW5oZXJpdDtcclxuXHR9XHJcblxyXG5cdCZfdGl0bGV7XHJcblx0XHRmb250LXNpemU6NDVweDtcclxuXHRcdGxpbmUtaGVpZ2h0OjEuMDdlbTtcclxuXHRcdGZvbnQtd2VpZ2h0OjYwMDtcclxuXHRcdGNvbG9yOiRncmV5aXNoLWJyb3duO1xyXG5cdFx0bWFyZ2luLXRvcDo0OHB4O1xyXG5cdFx0bWFyZ2luLWJvdHRvbToxOHB4O1xyXG5cdH1cclxuXHJcblx0Jl9jb250ZW50e1xyXG5cdFx0Zm9udC1zaXplOjE2cHg7XHJcblx0XHRsaW5lLWhlaWdodDoxLjYyZW07XHJcblx0XHRjb2xvcjokd2FybS1ncmV5O1xyXG5cdFx0bWFyZ2luLWJvdHRvbTo0OHB4O1xyXG5cdH1cclxuXHJcblx0Jl9hY3Rpb257XHJcblx0XHQmX2J0bntcclxuXHRcdFx0ZGlzcGxheTppbmxpbmUtYmxvY2s7XHJcblx0XHRcdGZsb2F0OmxlZnQ7XHJcblx0XHRcdG1hcmdpbi1yaWdodDoyMHB4O1xyXG5cdFx0fVxyXG5cclxuXHRcdCZfdGV4dHtcclxuXHRcdFx0Y29sb3I6JGJsYWNrO1xyXG5cdFx0XHRkaXNwbGF5OmlubGluZS1ibG9jaztcclxuXHRcdFx0ZmxvYXQ6bGVmdDtcclxuXHRcdFx0bGluZS1oZWlnaHQ6NGVtO1xyXG5cdFx0XHQmX2xpbmt7XHJcblx0XHRcdFx0Y29sb3I6ICRkYW5kZWxpb24tdHdvO1xyXG5cdFx0XHRcdGZvbnQtd2VpZ2h0OmJvbGQ7XHJcblx0XHRcdFx0Jjpob3ZlcntcclxuXHRcdFx0XHRcdHRleHQtZGVjb3JhdGlvbjpub25lO1xyXG5cdFx0XHRcdH1cclxuXHRcdFx0fVxyXG5cdFx0fVxyXG5cdH1cclxuXHJcblx0Jl9pbGx1c3RyYXRpb257XHJcblx0XHRtYXgtd2lkdGg6MzE2cHg7XHJcblx0XHRmbG9hdDpyaWdodDtcclxuXHRcdHdpZHRoOjEwMCU7XHJcblx0fVxyXG5cclxufVxyXG5cclxuLmJ0bi1wcmltYXJ5e1xyXG5cdGJhY2tncm91bmQtY29sb3I6JGRhbmRlbGlvbjtcclxuXHRjb2xvcjokZ3JleWlzaC1icm93bjtcclxuXHRmb250LXNpemU6MThweDtcclxuXHRmb250LXdlaWdodDo2MDA7XHJcblx0cGFkZGluZzoxNHB4IDQycHg7XHJcblx0Ym9yZGVyLXJhZGl1czozcHg7XHJcblx0dGV4dC1kZWNvcmF0aW9uOm5vbmU7XHJcblx0Jjpob3ZlcntcclxuXHRcdGJhY2tncm91bmQtY29sb3I6JGNvbG9yLXByaW1hcnk7XHJcblx0XHRjb2xvcjokd2FybS1ncmV5O1xyXG5cdFx0dGV4dC1kZWNvcmF0aW9uOm5vbmU7XHJcblx0fVxyXG59XHJcblxyXG5AbWVkaWEgKCBtYXgtd2lkdGg6NzY3cHggKXtcclxuXHQub25ib2FyZF90aXRsZXtcclxuXHRcdHRleHQtYWxpZ246Y2VudGVyO1xyXG5cdH1cclxuXHQub25ib2FyZF9jb250ZW50e1xyXG5cdFx0dGV4dC1hbGlnbjpjZW50ZXI7XHJcblx0fVxyXG5cdC5vbmJvYXJkX2FjdGlvbl9idG57XHJcblx0IFx0ZGlzcGxheTpibG9jaztcclxuXHQgXHRtYXJnaW4tcmlnaHQ6MDtcclxuXHQgXHR0ZXh0LWFsaWduOmNlbnRlcjtcclxuXHQgXHR3aWR0aDoxMDAlO1xyXG5cdCB9XHJcblx0Lm9uYm9hcmRfYWN0aW9uX3RleHR7XHJcblx0IFx0ZGlzcGxheTpibG9jaztcclxuXHQgXHRwYWRkaW5nLXRvcDozMHB4O1xyXG5cdCBcdHRleHQtYWxpZ246Y2VudGVyO1xyXG5cdCBcdGxpbmUtaGVpZ2h0OjNlbTtcclxuXHQgXHR3aWR0aDoxMDAlO1xyXG5cdCB9XHJcblxyXG5cdCAub25ib2FyZF9pbGx1c3RyYXRpb257XHJcblx0IFx0ZmxvYXQ6bm9uZTtcclxuXHQgXHRtYXJnaW4tdG9wOjMwcHg7XHJcblx0IFx0ZGlzcGxheTppbmxpbmU7XHJcblx0IFx0dGV4dC1hbGlnbjpjZW50ZXI7XHJcblx0IFx0d2lkdGg6MTAwJTtcclxuXHQgXHRtYXgtd2lkdGg6bm9uZTtcclxuXHQgfVxyXG5cclxuXHJcbn1cclxuXHJcbiJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFRQSxVQUFVO0VBQ1QsV0FBVyxFQUFDLFFBQVE7RUFDcEIsR0FBRyxFQUFDLG9DQUFvQzs7O0FBR3pDLEFBQUEsSUFBSSxDQUFBO0VBQ0gsV0FBVyxFQUFDLFFBQVE7Q0FDcEI7O0FBQ0QsQUFBQSxRQUFRLENBQUE7RUFDUCxPQUFPLEVBQUMsYUFBYTtDQXdEckI7O0FBdkRBLEFBQUEsZUFBUSxDQUFBO0VBQ1AsZ0JBQWdCLEVBZFAsT0FBTztFQWVoQixPQUFPLEVBQUMsTUFBTTtDQUNkOztBQUNELEFBQUEsYUFBTSxDQUFBO0VBQ0wsTUFBTSxFQUFDLElBQUk7RUFDWCxLQUFLLEVBQUMsSUFBSTtFQUNWLE1BQU0sRUFBQyxNQUFNO0VBQ2IsT0FBTyxFQUFDLE9BQU87Q0FDZjs7QUFFRCxBQUFBLGNBQU8sQ0FBQTtFQUNOLFNBQVMsRUFBQyxJQUFJO0VBQ2QsV0FBVyxFQUFDLE1BQU07RUFDbEIsV0FBVyxFQUFDLEdBQUc7RUFDZixLQUFLLEVBL0JRLE9BQU87RUFnQ3BCLFVBQVUsRUFBQyxJQUFJO0VBQ2YsYUFBYSxFQUFDLElBQUk7Q0FDbEI7O0FBRUQsQUFBQSxnQkFBUyxDQUFBO0VBQ1IsU0FBUyxFQUFDLElBQUk7RUFDZCxXQUFXLEVBQUMsTUFBTTtFQUNsQixLQUFLLEVBdENJLE9BQU87RUF1Q2hCLGFBQWEsRUFBQyxJQUFJO0NBQ2xCOztBQUdBLEFBQUEsbUJBQUssQ0FBQTtFQUNKLE9BQU8sRUFBQyxZQUFZO0VBQ3BCLEtBQUssRUFBQyxJQUFJO0VBQ1YsWUFBWSxFQUFDLElBQUk7Q0FDakI7O0FBRUQsQUFBQSxvQkFBTSxDQUFBO0VBQ0wsS0FBSyxFQWpERCxPQUFPO0VBa0RYLE9BQU8sRUFBQyxZQUFZO0VBQ3BCLEtBQUssRUFBQyxJQUFJO0VBQ1YsV0FBVyxFQUFDLEdBQUc7Q0FRZjs7QUFQQSxBQUFBLHlCQUFNLENBQUE7RUFDTCxLQUFLLEVBcERNLE9BQU87RUFxRGxCLFdBQVcsRUFBQyxJQUFJO0NBSWhCOztBQU5ELEFBR0MseUJBSEssQUFHTCxNQUFPLENBQUE7RUFDTixlQUFlLEVBQUMsSUFBSTtDQUNwQjs7QUFLSixBQUFBLHFCQUFjLENBQUE7RUFDYixTQUFTLEVBQUMsS0FBSztFQUNmLEtBQUssRUFBQyxLQUFLO0VBQ1gsS0FBSyxFQUFDLElBQUk7Q0FDVjs7QUFJRixBQUFBLFlBQVksQ0FBQTtFQUNYLGdCQUFnQixFQXZFTixPQUFPO0VBd0VqQixLQUFLLEVBM0VTLE9BQU87RUE0RXJCLFNBQVMsRUFBQyxJQUFJO0VBQ2QsV0FBVyxFQUFDLEdBQUc7RUFDZixPQUFPLEVBQUMsU0FBUztFQUNqQixhQUFhLEVBQUMsR0FBRztFQUNqQixlQUFlLEVBQUMsSUFBSTtDQU1wQjs7QUFiRCxBQVFDLFlBUlcsQUFRWCxNQUFPLENBQUE7RUFDTixnQkFBZ0IsRUFwRkgsT0FBTztFQXFGcEIsS0FBSyxFQWxGSSxPQUFPO0VBbUZoQixlQUFlLEVBQUMsSUFBSTtDQUNwQjs7QUFHRixNQUFNLEVBQUUsU0FBUyxFQUFFLEtBQUs7RUFDdkIsQUFBQSxjQUFjLENBQUE7SUFDYixVQUFVLEVBQUMsTUFBTTtHQUNqQjtFQUNELEFBQUEsZ0JBQWdCLENBQUE7SUFDZixVQUFVLEVBQUMsTUFBTTtHQUNqQjtFQUNELEFBQUEsbUJBQW1CLENBQUE7SUFDakIsT0FBTyxFQUFDLEtBQUs7SUFDYixZQUFZLEVBQUMsQ0FBQztJQUNkLFVBQVUsRUFBQyxNQUFNO0lBQ2pCLEtBQUssRUFBQyxJQUFJO0dBQ1Y7RUFDRixBQUFBLG9CQUFvQixDQUFBO0lBQ2xCLE9BQU8sRUFBQyxLQUFLO0lBQ2IsV0FBVyxFQUFDLElBQUk7SUFDaEIsVUFBVSxFQUFDLE1BQU07SUFDakIsV0FBVyxFQUFDLEdBQUc7SUFDZixLQUFLLEVBQUMsSUFBSTtHQUNWO0VBRUQsQUFBQSxxQkFBcUIsQ0FBQTtJQUNwQixLQUFLLEVBQUMsSUFBSTtJQUNWLFVBQVUsRUFBQyxJQUFJO0lBQ2YsT0FBTyxFQUFDLE1BQU07SUFDZCxVQUFVLEVBQUMsTUFBTTtJQUNqQixLQUFLLEVBQUMsSUFBSTtJQUNWLFNBQVMsRUFBQyxJQUFJO0dBQ2QifQ== */
