@font-face{
	font-family:RobotoMedium;
	src:url(../fonts/Roboto-Medium.ttf);
}
body{
	font-family:RobotoMedium;
}
.mobile{
	max-width: 360px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.mobile .row{
	margin-left:0 !important;
	margin-right:0 !important;
}
/*#mobile{
	background-color: #ddd;
}*/
.p-0{
	padding:0;
}
.p-b-20{
	padding-bottom: 20px;
}
.p-b-10{
	padding-bottom: 10px;
}
.onboard{
	padding-left: 30px;
	padding-right: 30px;
}
.illustration-container{
	margin: 40px 0 10px 0;
}
.onboard-illustration{
	background-color: #eee;
	min-height: 320px;
}

.img-onboard{
	width: 100%;
}

.onboard-title,.onboard-content{
	color:#555555;
	text-align: center;
}

.onboard-content{
	font-size: 16px;
	line-height: 1.5em;
}

.onboard-title{
	font-size: 24px;
	/*font-weight: bold;*/
}

.onboard-nav{
	text-align:center;
	margin-bottom:50px;
}

.onboard-nav-item{
	margin-right: 2px;
	width:10px;
	height:10px;
	display: inline-block;
	border-radius:100%;
	border:1px solid #979797;
}

.onboard-nav{
	padding: 40px 20px 10px 20px;
}

.onboard-nav-item.active{
	border: 1px solid #fcdd4b;
	background-color: #fcdd4b;
}
.action-btn-group{
	border-top: 1px solid #939393;
}
.action-btn-container{
	padding: 10px 30px;
}
.action-btn{
	text-transform: uppercase;
	font-size: 20px;
	color: #d90b22;
}

.action-btn-discover{
	float:left;
}

.action-btn-login{
	float:right;
}

.block{
	display: block;
	width:100%;
}

.round{
	border-radius:30px;
}

.action-btn-v2{
	text-transform: uppercase;
	font-size: 20px;
	padding: 12px;
	text-align: center;
}

a.action-btn:hover,a.action-btn-v2:hover{
	text-decoration:none;
	/*color: unset;*/
}



.action-btn-login-v2{
	color:#fcdd4b ;
	background-color:transparent; 
}

a.action-btn-login-v2:hover{
	color:#fcdd4b;
}

.action-btn-discover-v2{
	background-color:#fcdd4b ;
	color: #fff; 
}

a.action-btn-discover-v2:hover{
	color: #fff;
}