.slider {
  position: relative;
  height: 480px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.slider_list {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
  margin: 0;
}

.slider_list_item {
  width: 100%;
  height: 100%;
  display: none;
  margin: auto;
}

.slider_list_item.active {
  display: inline-block;
  float: left;
}

.slider_nav {
  position: absolute;
  bottom: 8%;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

.slider_nav_item {
  cursor: pointer;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #c7c7c7;
  border-radius: 100%;
  margin-right: 8px;
}

.slider_nav_item.active {
  width: 16px;
  height: 16px;
  background-color: #fae438;
}

.slider_nav_item:last-child {
  margin-right: 0;
}

.slider_arrow {
  position: absolute;
  width: 28px;
  height: 48px;
  top: 40%;
  margin-top: -24px;
  cursor: pointer;
}

.slider_arrow-left {
  margin-left: -14px;
  left: 10%;
  background: url("./../img/slider/slider-left.svg");
}

.slider_arrow-right {
  margin-right: -14px;
  right: 10%;
  background: url("./../img/slider/slider-right.svg");
}

@media (max-width: 991px) {
  .slider {
    height: auto;
  }

  .slider_arrow {
    display: none;
  }

  .slider_nav {
    bottom: 3%;
  }
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoiQzpcXGxhcmFnb25cXHd3d1xcZnJvbnRlbmRcXGFoYVxccmVzb3VyY2VzXFxhc3NldHNcXHNhc3NcXHNsaWRlci5zY3NzIiwic291cmNlcyI6WyIvbGFyYWdvbi93d3cvZnJvbnRlbmQvYWhhL3Jlc291cmNlcy9hc3NldHMvc2Fzcy9zbGlkZXIuc2NzcyJdLCJzb3VyY2VzQ29udGVudCI6WyIkY29sb3ItcHJpbWFyeTojZmFlNDM4O1xyXG4kY29sb3Itc2Vjb25kYXJ5OiNjN2M3Yzc7XHJcblxyXG4uc2xpZGVye1xyXG5cdHBvc2l0aW9uOnJlbGF0aXZlO1xyXG5cdGhlaWdodDo0ODBweDtcclxuXHRvdmVyZmxvdy14OmhpZGRlbjtcclxuXHRvdmVyZmxvdy15OmhpZGRlbjtcclxuXHQmX2xpc3R7XHJcblx0XHR3aWR0aDoxMDAlO1xyXG5cdFx0aGVpZ2h0OjEwMCU7XHJcblx0XHRkaXNwbGF5OmJsb2NrO1xyXG5cdFx0cGFkZGluZzowO1xyXG5cdFx0bWFyZ2luOjA7XHJcblx0XHQmX2l0ZW17XHJcblx0XHRcdHdpZHRoOiAxMDAlO1xyXG5cdFx0XHRoZWlnaHQ6MTAwJTtcclxuXHRcdFx0ZGlzcGxheTpub25lO1xyXG5cdFx0XHRtYXJnaW46YXV0bztcclxuXHRcdFx0Ji5hY3RpdmV7XHJcblx0XHRcdFx0ZGlzcGxheTppbmxpbmUtYmxvY2s7XHJcblx0XHRcdFx0ZmxvYXQ6bGVmdDtcclxuXHRcdFx0fVxyXG5cdFx0fVxyXG5cdH1cclxuXHJcblx0Jl9uYXZ7XHJcblx0XHRwb3NpdGlvbjphYnNvbHV0ZTtcclxuXHRcdGJvdHRvbTo4JTtcclxuXHRcdGRpc3BsYXk6YmxvY2s7XHJcblx0XHR3aWR0aDogMTAwJTtcclxuXHRcdHBhZGRpbmc6MDtcclxuXHRcdG1hcmdpbjowO1xyXG5cdFx0dGV4dC1hbGlnbjogY2VudGVyO1xyXG5cdFx0Jl9pdGVte1xyXG5cdFx0IFx0Y3Vyc29yOnBvaW50ZXI7XHJcblx0XHRcdGRpc3BsYXk6aW5saW5lLWJsb2NrO1xyXG5cdFx0XHR3aWR0aDoxMHB4O1xyXG5cdFx0XHRoZWlnaHQ6IDEwcHg7XHJcblx0XHRcdGJhY2tncm91bmQtY29sb3I6JGNvbG9yLXNlY29uZGFyeTtcclxuXHRcdFx0Ym9yZGVyLXJhZGl1czogMTAwJTtcclxuXHRcdFx0bWFyZ2luLXJpZ2h0OiA4cHg7XHJcblx0XHRcdCYuYWN0aXZle1xyXG5cdFx0XHRcdHdpZHRoOjE2cHg7XHJcblx0XHRcdFx0aGVpZ2h0OjE2cHg7XHJcblx0XHRcdFx0YmFja2dyb3VuZC1jb2xvcjokY29sb3ItcHJpbWFyeTtcclxuXHRcdFx0fVxyXG5cdFx0XHQmOmxhc3QtY2hpbGR7XHJcblx0XHRcdFx0bWFyZ2luLXJpZ2h0OjA7XHJcblx0XHRcdH1cclxuXHRcdH1cclxuXHJcblx0fVxyXG5cclxuXHQmX2Fycm93e1xyXG5cdFx0cG9zaXRpb246YWJzb2x1dGU7XHJcblx0XHR3aWR0aDoyOHB4O1xyXG5cdFx0aGVpZ2h0OjQ4cHg7XHJcblx0XHR0b3A6NDAlO1xyXG5cdFx0bWFyZ2luLXRvcDotMjRweDtcclxuXHRcdGN1cnNvcjpwb2ludGVyO1xyXG5cdH1cclxuXHJcblx0Jl9hcnJvdy1sZWZ0e1xyXG5cdFx0bWFyZ2luLWxlZnQ6LTE0cHg7XHJcblx0XHRsZWZ0OjEwJTtcclxuXHRcdGJhY2tncm91bmQ6dXJsKCcuLi9pbWcvc2xpZGVyL3NsaWRlci1sZWZ0LnN2ZycpO1xyXG5cdH1cclxuXHJcblx0Jl9hcnJvdy1yaWdodHtcclxuXHRcdG1hcmdpbi1yaWdodDotMTRweDtcclxuXHRcdHJpZ2h0OjEwJTtcclxuXHRcdGJhY2tncm91bmQ6dXJsKCcuLi9pbWcvc2xpZGVyL3NsaWRlci1yaWdodC5zdmcnKTtcclxuXHR9XHJcbn1cclxuXHJcbkBtZWRpYSAoIG1heC13aWR0aDo5OTFweCApe1xyXG5cdC5zbGlkZXJ7XHJcblx0XHRoZWlnaHQ6YXV0bztcclxuXHR9XHRcclxuXHJcblx0LnNsaWRlcl9hcnJvd3tcclxuXHRcdGRpc3BsYXk6bm9uZTtcclxuXHR9XHJcblxyXG5cdC5zbGlkZXJfbmF2e1xyXG5cdFx0Ym90dG9tOjMlO1xyXG5cdH1cclxufSJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFHQSxBQUFBLE9BQU8sQ0FBQTtFQUNOLFFBQVEsRUFBQyxRQUFRO0VBQ2pCLE1BQU0sRUFBQyxLQUFLO0VBQ1osVUFBVSxFQUFDLE1BQU07RUFDakIsVUFBVSxFQUFDLE1BQU07Q0FtRWpCOztBQWxFQSxBQUFBLFlBQU0sQ0FBQTtFQUNMLEtBQUssRUFBQyxJQUFJO0VBQ1YsTUFBTSxFQUFDLElBQUk7RUFDWCxPQUFPLEVBQUMsS0FBSztFQUNiLE9BQU8sRUFBQyxDQUFDO0VBQ1QsTUFBTSxFQUFDLENBQUM7Q0FXUjs7QUFWQSxBQUFBLGlCQUFNLENBQUE7RUFDTCxLQUFLLEVBQUUsSUFBSTtFQUNYLE1BQU0sRUFBQyxJQUFJO0VBQ1gsT0FBTyxFQUFDLElBQUk7RUFDWixNQUFNLEVBQUMsSUFBSTtDQUtYOztBQVRELEFBS0MsaUJBTEssQUFLTCxPQUFRLENBQUE7RUFDUCxPQUFPLEVBQUMsWUFBWTtFQUNwQixLQUFLLEVBQUMsSUFBSTtDQUNWOztBQUlILEFBQUEsV0FBSyxDQUFBO0VBQ0osUUFBUSxFQUFDLFFBQVE7RUFDakIsTUFBTSxFQUFDLEVBQUU7RUFDVCxPQUFPLEVBQUMsS0FBSztFQUNiLEtBQUssRUFBRSxJQUFJO0VBQ1gsT0FBTyxFQUFDLENBQUM7RUFDVCxNQUFNLEVBQUMsQ0FBQztFQUNSLFVBQVUsRUFBRSxNQUFNO0NBbUJsQjs7QUFsQkEsQUFBQSxnQkFBTSxDQUFBO0VBQ0osTUFBTSxFQUFDLE9BQU87RUFDZixPQUFPLEVBQUMsWUFBWTtFQUNwQixLQUFLLEVBQUMsSUFBSTtFQUNWLE1BQU0sRUFBRSxJQUFJO0VBQ1osZ0JBQWdCLEVBdENGLE9BQU87RUF1Q3JCLGFBQWEsRUFBRSxJQUFJO0VBQ25CLFlBQVksRUFBRSxHQUFHO0NBU2pCOztBQWhCRCxBQVFDLGdCQVJLLEFBUUwsT0FBUSxDQUFBO0VBQ1AsS0FBSyxFQUFDLElBQUk7RUFDVixNQUFNLEVBQUMsSUFBSTtFQUNYLGdCQUFnQixFQTdDTCxPQUFPO0NBOENsQjs7QUFaRixBQWFDLGdCQWJLLEFBYUwsV0FBWSxDQUFBO0VBQ1gsWUFBWSxFQUFDLENBQUM7Q0FDZDs7QUFLSCxBQUFBLGFBQU8sQ0FBQTtFQUNOLFFBQVEsRUFBQyxRQUFRO0VBQ2pCLEtBQUssRUFBQyxJQUFJO0VBQ1YsTUFBTSxFQUFDLElBQUk7RUFDWCxHQUFHLEVBQUMsR0FBRztFQUNQLFVBQVUsRUFBQyxLQUFLO0VBQ2hCLE1BQU0sRUFBQyxPQUFPO0NBQ2Q7O0FBRUQsQUFBQSxrQkFBWSxDQUFBO0VBQ1gsV0FBVyxFQUFDLEtBQUs7RUFDakIsSUFBSSxFQUFDLEdBQUc7RUFDUixVQUFVLEVBQUMsb0NBQW9DO0NBQy9DOztBQUVELEFBQUEsbUJBQWEsQ0FBQTtFQUNaLFlBQVksRUFBQyxLQUFLO0VBQ2xCLEtBQUssRUFBQyxHQUFHO0VBQ1QsVUFBVSxFQUFDLHFDQUFxQztDQUNoRDs7QUFHRixNQUFNLEVBQUUsU0FBUyxFQUFFLEtBQUs7RUFDdkIsQUFBQSxPQUFPLENBQUE7SUFDTixNQUFNLEVBQUMsSUFBSTtHQUNYO0VBRUQsQUFBQSxhQUFhLENBQUE7SUFDWixPQUFPLEVBQUMsSUFBSTtHQUNaO0VBRUQsQUFBQSxXQUFXLENBQUE7SUFDVixNQUFNLEVBQUMsRUFBRTtHQUNUIn0= */