$color-primary:#fae438;
$color-secondary:#c7c7c7;

.slider{
	position:relative;
	height:480px;
	overflow-x:hidden;
	overflow-y:hidden;
	&_list{
		width:100%;
		height:100%;
		display:block;
		padding:0;
		margin:0;
		&_item{
			width: 100%;
			height:100%;
			display:none;
			margin:auto;
			&.active{
				display:inline-block;
				float:left;
			}
		}
	}

	&_nav{
		position:absolute;
		bottom:8%;
		display:block;
		width: 100%;
		padding:0;
		margin:0;
		text-align: center;
		&_item{
		 	cursor:pointer;
			display:inline-block;
			width:10px;
			height: 10px;
			background-color:$color-secondary;
			border-radius: 100%;
			margin-right: 8px;
			&.active{
				width:16px;
				height:16px;
				background-color:$color-primary;
			}
			&:last-child{
				margin-right:0;
			}
		}

	}

	&_arrow{
		position:absolute;
		width:28px;
		height:48px;
		top:40%;
		margin-top:-24px;
		cursor:pointer;
	}

	&_arrow-left{
		margin-left:-14px;
		left:10%;
		background:url('../img/slider/slider-left.svg');
	}

	&_arrow-right{
		margin-right:-14px;
		right:10%;
		background:url('../img/slider/slider-right.svg');
	}
}