@font-face{
	font-family: Lato;
	src:url('../fonts/Lato-Regular.ttf');
}
@font-face{
	font-family: SimpleLineIcon;
	src:url('Simple-Line-Icons.ttf');
}
body{
	font-family: Lato;
}
.navbar{
	margin-bottom: 0;
	color:#fff;
	background-color:#02c6f3;
	border:none;
	border-radius: 0;
	padding:24px 0 24px 6%;
}

.navbar_app_logo{
	height: 56px;
	width: 56px;
	padding: 10px;
	background-color: #fff;
	border-radius: 5px;
	display: inline-block;
	float: left;
	margin-right:16px; 
}
.navbar_app_logo>img{
	height: 100%;
	display: inherit;
	margin:auto;
}

.navbar_app_title{
	text-transform: uppercase;
	font-size: 20px;
	display: inline-block;
	float: left;
}

.navbar_greeting{
	float: right;
	text-align: right;
	margin:0;
	font-size: 20px;
}

.navbar_client_name{
	margin:0;
	font-size: 30px;
}

.navbar_client_logo{
	float: right;
	height: 64px;
	width: 64px;
	padding: 0px;
	background-color: #fff;
	border-radius: 100%;
	display: inline-block;
	margin-left:32px; 
}
.navbar_client_logo>img{
	height: 100%;
	border-radius: 100%;
}

.navbar_menu{
	float: right;
	height: 64px;
	width: 40px;
	padding: 16px 0;
	/*background-color: #fff;*/
	display: inline-block;
	margin-left:32px; 
}
.navbar_menu>i{
	font-size: 32px;
}

.header{
	padding:45px 0 50px 0;
	color:#fff;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.header_title{
	font-size:40px;
	line-height: 1.27em;
	margin-bottom: 22px;
	margin-top: 0;
}

.header_content{
	font-size:20px;
	line-height: 1.64em;
}

.progress_section{
	padding-top: 30px;
	padding-bottom: 26px;
	margin-bottom: 0;
	display: block;
	background-color: #fafafa
}

.progress_timeline{
	display: inline-block;
	width: 100%;
	margin-bottom: 32px;
	min-height: auto;
	/*overflow-y: auto;*/
}

.progress_timeline_item{
	display: inline-block;
	float: left;
	width: 14.285%;
}

.progress_timeline_circle{
	width:16px;
	height: 16px;
	position: absolute;
	margin-left:-14px;
	left:12px;
	top:50%;
	margin-top:-8px;
	display: inline-block;
	background-color: #9B9B9B;
	border-radius: 100%;
}

.progress_timeline_bar{
	position: relative;
	height: 10px;
	width: 100%;
	background-color: #9B9B9B;
}

.progress_timeline_item.agreement .progress_timeline_circle,
.progress_timeline_item.agreement .progress_timeline_bar
{
	background-image: linear-gradient(180deg,#73fffd,#2792ec); 
}

.progress_timeline_item.zero .progress_timeline_circle,
.progress_timeline_item.zero .progress_timeline_bar
{
	background-image: linear-gradient(180deg,#FAC051,#F87C27); 
}

.progress_timeline_item.feedback .progress_timeline_circle,
.progress_timeline_item.feedback .progress_timeline_bar
{
	background-image: linear-gradient(180deg,#A8E34C,#4B9A25); 
}

.progress_timeline_item.sprint .progress_timeline_circle,
.progress_timeline_item.sprint .progress_timeline_bar
{
	background-image: linear-gradient(180deg,#BC68D4,#3425AF); 
}

.progress_timeline_item:nth-child(even) .progress_timeline_circle,
.progress_timeline_item:nth-child(even) .progress_timeline_bar
{
	background-color:#808080;
}

.progress_timeline_item_phase{
	color: #4a4a4a;
	font-size:16px;
	margin-bottom: 8px;
	padding-left: 16px;
}

.progress_timeline_item_date{
	color: #4a4a4a;
	font-size:16px;
	margin-top: 12px;
	font-weight: bold;
	padding-left: 16px;
}

.progress_deadline{
	width: 100%;
	background-image: linear-gradient(103deg,#73fffd,#2792ec);
	border-radius: 3px;
	padding: 32px;
}

.progress_deadline_title{
	color:#2C778A;
	line-height: 1em;
	margin:0 0 10px 0;
	font-size: 16px;
	font-weight: bold;
}

.progress_deadline_content{
	font-size: 24px;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom:30px; 
	color: #fafafa;
}

.amount{
	margin-bottom: 20px;
	border-bottom:2px solid #fafafa;
}

.progress_deadline_btn{
	border-radius: 100px;
	color: #11c1f2;
	padding-top:16px;
	padding-bottom: 16px;
	font-size: 22px;
	text-transform: uppercase;
	background-color: #fafafa;
	width: 100%;
	text-align: center;
}


.table_bg{
	width: 100%;
}

.table_bg table tr>td{
	padding: 14px 0;
	font-size: 14px;
	color: #6a6a6a;
}

.table_bg table thead>tr,.table_bg table tbody>tr:nth-child(even){
	background-color: rgba(194,194,194,0.1);
}

.table_bg table tbody>tr.active{
	border-left: 4px solid #3FB5F1;
}
.table_bg table tbody>tr.active>td:first-child{
	padding-left: 40px;
}
.table_bg table tr>td:first-child{
	padding-left:44px;
	padding-right:44px;
}

.panel{
	padding: 0;
}

.table_header{
	font-size: 20px;
	font-weight: 600;
	padding: 20px 44px;
	color:#797979;
	margin: 0;
	line-height: 1.5em;
}
.table_searchbar_container{
	position: relative;
	float: right;
	width: 36%;
}
.searchbar_short{
	width: 25%;
}
.table_searchbar{
	height: 36px;
	font-size: 20px;
	line-height: 1.75em;
	border-radius: 20px;
	border:solid 2px #d0d0d0;
	width: 100%;
	padding-left:40px ;
	padding-right:16px ;

}

.table_searchbar:focus{
	outline: none;
}

.table_searchbar_icon{
	position: absolute;
	left: 16px;
	top:50%;
	margin-top: -10px;
	height: 20px;
	width: 20px;
}

.table_content{

}

.table_pagination_text{
	font-size: 14px; 
	font-weight: 600; 
	color: #6a6a6a; 
	line-height: 3em;
}

.table_pagination{
	border:none;
}

.table_pagination_item{
	border-top:none;
	border-bottom:none;
	padding: 12px 16px;
	font-size: 14px;
	color:#6a6a6a;
	font-weight: 600;
}

.table_pagination_item:first-child{
	border-left: none;
}

.table_pagination_item:last-child{
	border-right: none;
}

.table_pagination_item.active{
	color:#fff;
	background-image: linear-gradient(103deg,#73fffd,#2792ec);
	border:none;
}

.request{
	background-image: linear-gradient(90deg,#212943 0%,#212943 33.8%,#02c6f3 33.8%,#02c6f3 100%);

}

.request_contact{
	background-color: #212943;
	padding:24px 30px 32px 0;
	text-align: right;
	min-height: 164px;
	height: 100%;
}

.request_contact_title{
	font-size:12px;
	margin-bottom: 8px;
	line-height: normal;
	color:#02c6f3;
	text-transform: uppercase;
}

.request_contact_text{
	font-size: 24px;
	color: #cdf6ff;
	margin-bottom: 5px;
}

.request_contact_small{
	color: #cdf6ff;
	font-size: 15px;
}

.request_contact_img{
	width:100px;
	height: 100px;
	border-radius: 100%;
	float: right;
	margin-left: 32px;
}

.request_info{
	background-color: #02c6f3;
	padding: 36px 40px 40px 60px;
	min-height: 164px;
	height: 100%;
}

.request_info_title{
	color: #daf8ff;
	font-size: 15px;
	margin-bottom: 12px;
}

.request_info_content{
	color: #fff;
	font-size: 24px;
}

.request_info_icon{
	margin-right: 20px;
}
.section{
	padding-top: 84px;
	padding-bottom: 0;
	background-color: #fafafa;
}
.section_title{
	font-size: 36px;
	color:#141414;
	text-align: center;
	margin-top: 0;
	margin-bottom: 24px;
	line-height: 1.2em;
}

.section_caption{
	text-align: center;
	color: #7f8887;
	line-height: 1.64em;
	font-size: 16px;
	margin-bottom: 16px;
}

/*.section_action_btn{
	width: 40%;
	height: auto;
}*/
.section_action_btn>img{
	width: 47%;
	height: auto;
}
.section_action_btn:first-child{
	margin-right: 6%;
}

.additional_info{
	text-align: center;
	margin-top:16px;
	margin-bottom: 10px;
	line-height: 2.3em;
}

.no_padding{
	padding: 0;
	background-color: #fafafa;
}

.section_img{
	height: 300px;
}

.section_img_item{
	height: 100%;
	background-position: bottom;
	background-size: contain;
	background-repeat: no-repeat;
}

.feature{
	padding: 72px 0 96px 0;
	color: #fff;
	background-color: #141414;
}

/*.feature_item{
	padding-left: 50px;
	padding-right: 50px;
}

.feature_item:first-child{
	padding-left: 0;
}

.feature_item:last-child{
	padding-right: 0;
}*/

.feature_item_title{
	font-size: 16px;
	text-transform: uppercase;
	margin-bottom: 16px;
	line-height: normal;
}

.feature_item_content{
	font-size:18px;
	line-height: 1.64em;
	margin-bottom: 32px; 
}

.feature_item_action_btn{
	background-color: #2791eb;
	border-radius: 2px;
	color:#fff;
	font-size: 13.2px;
	text-transform: uppercase;
	padding: 10px 14px;
	font-weight: bold;
}

.purchase{
	padding-top: 50px;
	padding-bottom: 94px;
	background-color: #fafafa;
}

.promo{
	padding: 0 32px;
	color:#fff;
	border-radius:4px;
	background-image: url('../img/promo.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	margin-bottom: 66px;
	overflow-y:auto;
	overflow-x:hidden;
	/*height: auto;*/
}

.promo_title{
	margin-top: 32px;
	margin-bottom:6px;
	font-size: 18px;
	line-height: 1em;
}

.promo_content{
	margin-bottom: 32px;
	margin-top: 0;
	font-size: 24px;
	line-height: 1em;
	font-weight: 500;
}

.promo_ticket{
	width:100%;
}

.promo_action_btn{
	padding: 14px 32px;
	border-radius: 7px;
	border:solid 3px #fff;
	text-transform: uppercase;
	font-size: 16px;
	color:#fff;
	font-weight: bold;
	margin:30px 20px 30px 20px;
	line-height: 1.5em;
}
.promo_action_btn:hover{
	color:#fafafa;
}
.promo_action_btn_icon{
	font-size: 16px;
	margin-left: 12px;
	line-height: 1em;
	font-weight: bolder;
}

.footer{
	color:#fff;
	background-image: linear-gradient(103deg,#73fffd,#2792ec);
	padding: 72px 0 60px 0;
	text-align: center;
}

.footer_action_text{
	font-size: 26px;
	line-height: 1.25em;
	padding: 0;
	margin-bottom: 30px;
}

.footer_action_btn{
	color:#fff;
	display: inline-block;
	width: auto;
	margin: auto;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 0.3px;
	padding: 14px 24px;
	text-transform: capitalize;
	border:solid 2.5px #fff;
	border-radius: 4px;
	margin-bottom: 54px;
}

.footer_copyright{
	font-size: 12px;
	line-height: 2.3em;

}

@media ( max-width:991px ){
	.promo_action_btn{
		margin:30px 0 30px 0;
	}
	.request_contact{
		padding-left: 30px;
		text-align: center;
		min-height: 318px;
	}
	.request_contact_img{
		display: block;
		margin: auto;
		float: none;
		/*width: 100%;*/
		margin-bottom: 20px;
	}

	.request_info{
		text-align: center;
	}

	.request_info>div{
		margin-bottom: 30px;
	}
	.request_info>div:last-child{
		margin-bottom: 0;
	}

	.request_info_content{
		margin-top: 10px;
	}
	.promo_left{
		width: 30%;
	}

	.progress_deadline{
		margin-bottom: 30px;
	}

	.progress_timeline_item{
		width: 50%;
		margin-bottom: 20px;
	}
}

@media ( max-width:767px ){
	.feature_item_title{
		margin-top: 30px;
	}
	.promo_title,.promo_content{
		text-align: center;
	}
	.section_img{
		height: 160px;
	}
	.promo_action_btn{
		width: 100%;
	}

	.navbar{
		padding: 24px 0;
	}

	.navbar_app_title{
		display: none;
	}

	.table_header{
		font-size: 20px;
		font-weight: 600;
		padding: 20px;
		color:#797979;
		margin: 0;
		line-height: 1.5em;
	}

	.table_bg table tr>td:first-child{
		padding-left:20px;
		padding-right:20px;
	}

	.request{
		background-color: #fafafa;
		background-image: none;
	}


}
